* {
    padding: 0;
    margin: 0;
    border: 0;
    border-spacing: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Oswald, sans-serif;
}

h1 {
    position: relative;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
    line-height: 1.6;
    padding: 1em 0 1em 0;
    width: 30em;
    background: #00274F;
    text-align: center;
    color: #fff;
    z-index: 20;
} /*7.2 em*/

form {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 1em 0;
    width: 60em;
    background: #eee;
    text-align: center;
    z-index: 20;
}

form input {
    width: 8em;
    margin: 0 1.6em 0 1.6em;
    font-size: 1em;
    line-height: 1.6;
    border-radius: 8px;
    border: .1em solid rgb(205, 209, 212);
    padding: .25em;
} /*4.8em*/

form button {
    width: 6em;
    margin: 0 0 0 2em;
    font-size: 1em;
    line-height: 1.6;
    font-weight: bold;
    color: #fff;
    padding: .25em;
    border-radius: 8px;
    background: #00274C;
    cursor: pointer;
}

body div.display {
    position:relative;
    width: 60em;
    margin: 0 auto 1.6em auto;
}

body div.display table {
    position: relative;
    width: 100%;
}

body div.display table tr {
    line-height: 1.6;
    background: #eee;
    text-align: center;
}

body div.display table tbody tr td:first-child {
    border-left: none;
}

body div.display table tbody tr td:last-child {
    border-right: none;
}

body div.display table tbody tr td,th {
    border-left: 1px solid #ddd;
    padding: 1em;
    width: 25%;
}

body .status-bar {
    position: fixed;
    font-family: "Vesper Libre";
    box-sizing: content-box;
    bottom: 0px;
    width: 100%;
    height: 1.6em;
    padding-left: 1em;
    border-top: 1px solid #00274C;
    background: #fff;
    z-index: 100;
}

body .status-bar .status {
    display: inline-block;
    font-size: .75em;
    vertical-align: middle;
}